*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --mainColor:#7b5244;
    --subColor:#333333;
}
body{
    font-family: 'PT Sans', sans-serif;
}
.container{
    width: 80%;
    margin: auto;
}
.list-unstyle{
    list-style: none;
}
a {
    text-decoration: none;
}
hr{
    width: 80%;
    height: 3px;
    background-color: var(--mainColor);
    margin:auto;
}
.section-header{
    text-align: center;
    margin:30px 0;
}
.section-header .section-title{
    font-size: 30px;
    margin:10px 0;
    text-transform: capitalize;
    font-weight: bold;
}
.section-header:hover .line{
    width: 160px;
}
.section-header .line{
    display: block;
    width: 80px;
    margin: auto;
    height: 2px;
    background: var(--mainColor);
    transition: width 1s;
}
/* Header */
header{
    padding:13px 0 0 0;
    margin-bottom: 20px;
}
header .header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .header-content img{
flex: 1;
max-width: 150px;
}
header .header-content nav{
    flex: 3;
    text-align: center;
}
header .header-conten .login{
    flex: 1;
    text-align: right;
}

.header-content ul li{
    display: inline-block;
    text-transform: capitalize;
}
.header-content ul li ,
.header-content ul li a
{
    color:var(--subColor);
}
.header-content nav ul li .link-item{
   display: block;
   padding: 10px 25px;
   font-weight: bold;
   font-size: 17px;
   text-transform: capitalize;
   position: relative;
   margin: 0 5px;
}

.header-content nav ul li .link-item:after{
    content: "";
    position: absolute;
    border-width: 2px 0;
    border-color: var(--mainColor);
    border-style: solid;
    width: 100%;
    height: 91%;
    top: 0;
    left: 0;
    transform: scale3d(0,1,1);
    transition: transform 1s;
    transform-origin: left;
}
.header-content nav ul li .link-item:hover:after{
  transform: scale3d(1,1,1);
  transition-delay: 0.4s;
}

.header-content nav ul li .link-item:before{
    content: "";
    position: absolute;
    border-width: 0 2px;
    border-color: var(--mainColor);
    border-style: solid;
    width: 99%;
    height: 100%;
    top: 0;
    left: 0;
    transform: scale3d(1,0,1);
    transition: transform 1s;
    transform-origin: left;
}
.header-content nav ul li .link-item:hover:before{
  transform: scale3d(1,1,1);
}
.header-content .login ul li {
    padding: 5px;
    font-weight: bold;
}
.header-content .login ul li .icon{
    position: relative;
    margin-right: 20px;
}
.header-content .login ul li .icon:after{
    position: absolute;
    content: "0";
    color: #fff;
    background-color: var(--mainColor);
    border-radius: 50%;
    top: 2px;
    text-align: center;
    font-size: 10px;
    padding: 3px 5px;
    font-weight: bold;
    margin-left: 2px;
}
.drop-down{
    position: relative;
}
.dropdown-menu{
    position: absolute;
    background-color: #fff;
    border: 2px solid var(--mainColor);
    padding: 20px;
    color: var(--mainColor);
    margin-top: 20px;
    width: 350px;
    transform: scale(0);
    transition: transform 1s;
    visibility: hidden;
}
.drop-down:hover .dropdown-menu{
    transform: scale(1);
    visibility: visible;
}
.dropdown-menu ul{
    padding: 10px;
    display: table-cell;
    text-align: left;
}
.dropdown-menu ul li{
    display: block;
    margin: 2px;
}
.dropdown-menu ul li:first-child a{
    text-align:left;
    display: block;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--mainColor);
    font-weight: bold;
}
/* Slider*/
.slider img{
    width: 100%;
    background-size: cover;
    text-align: center;
}
/* Category */
.category-items{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-gap: 15px;
    margin: 30px 0px 70px 0;
}
.category-item img{
    width: 100%;
}
.category-item-subtitle{
    color: grey;
    margin: 20px 0 3px 0;
    text-transform: capitalize;
    padding:0 10px 0 20px;

}
.category-item-title{
    text-transform: capitalize;
    padding:0 10px 30px 20px;
}
.category-item{
    position: relative;
    border: 1px solid #fff;
    transition: border 1s;
}
.category-item:hover{
    border: 2px solid var(--mainColor);
}
.category-item .icon{
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background-color: var(--mainColor);
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 10px;
    visibility: hidden;
    opacity: 0;
    transition: visibilty 1s , opacity 1s;
}
.category-item:hover .icon{
    opacity: 1;
    visibility: visible;
}
/* Discount */
.discount{
    margin: 70px 0;
    display: flex;
}

.discount-desc{
    flex: 2;
    position: relative;
    background-color:#f7f3ef;
}
.discount-desc .top{
   padding-left: 70px;
   padding-top: 25px;
    
}
.top .discount-title{
    text-transform: capitalize;
}
.top .discount-subtitle{
    color: grey;
    text-transform: capitalize;
}
.discount-desc p {
    padding: 30px 25px;
    line-height: 1.7;
    color: grey;
}
.discount-desc .bollets{
    text-align: right;
    padding: 0 40px;
}
.discount-desc .bollets span{
    width: 50px;
    height: 3px;
    display: inline-block;
    margin-left: 10px;
    background: var(--mainColor);
}
.discount-desc .top .icon{
    position: absolute;
    top: 30px;
    left: 14px;
    color: var(--mainColor);
}
.discount-item{
    flex: 1;
}
.discount .item1{
    background-image: url(../images/cms-banner-1.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    margin: 0 15px;
}
.discount .item2{
    background-image: url(../images/cms-banner-2.jpg);
    background-size: cover;
    height: 300px;
    background-position: center;
}
.discount-item .discount-h3{
    color: var(--mainColor);
    font-weight: lighter;
    margin: 25px 20px 5px 20px;
    text-transform: capitalize;
}
.discount-item .discount-h2{
    text-transform: capitalize;
    margin: 0 20px 5px 20px;
}
/* Sprites */
.sprites{
    display: flex;
    margin: 100px 0;   
}
.sprite-icon{
    background-image: url(../images/service-icon.png);
    height: 60px;
    background-repeat: no-repeat;
}
.sprite-item{
    flex: 1;
    text-align: center;
    border-right: 1px solid var(--mainColor);
}
.sprite-item:last-child{
    border: 0;
}
.sprite-header{
    text-transform: capitalize;
    margin-bottom: 5px;
}
.sprite-span{
    text-transform: capitalize;
    font-weight: lighter;
}
.sprite-icon.icon-1{
    background-position: center 5px;
    transition: all 1s;
}
.sprite-item:hover .sprite-icon.icon-1{
    background-position: center -86px;
}
.sprite-icon.icon-2{
    background-position: center -180px;
    transition: all 1s;
}
.sprite-item:hover .sprite-icon.icon-2{
    background-position: center -273px;
}
.sprite-icon.icon-3{
    background-position: center -366px;
    transition: all 1s;
}
.sprite-item:hover .sprite-icon.icon-3{
    background-position: center -455px;
}
.sprite-icon.icon-4{
    background-position: center -549px;
    transition: all 1s;
}
.sprite-item:hover .sprite-icon.icon-4{
    background-position: center -639px;
}
.sprite-icon.icon-5{
    background-position: center -734px;
    transition: all 1s;
}
.sprite-item:hover .sprite-icon.icon-5{
    background-position: center -826px;

}
/* Products */
.products{
   margin-bottom: 70px;
}
.list-product{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}
.list-product li{
    margin: 10px 20px;
    font-weight: bold;
    color: var(--mainColor);
    text-transform: capitalize;
}
.products-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    justify-content: center;
}
.product-image{
    position: relative;
}
.product-overlay{
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform .5s;
}
.product-overlay ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.product-overlay ul li{
    width: 40px;
    height: 40px;
    background-color: var(--mainColor);
    display: inline-block;
    text-align: center;
    padding: 10px;
}
.product-overlay ul li i{
    color: #fff;
}
.product-item:hover .product-overlay{
    transform: scaleX(1);
}
.product-info i{
    color: goldenrod;
    margin-bottom: 10px;
} 
.product-info span{
    color: grey;
    text-transform: capitalize;
} 
.product-info h3{
    color: var(--mainColor);
    text-transform: capitalize;
    font-weight: bold;
} 
/* Clients */
.clients{
    margin: 60px 0;
}
.clientimgs{
    display: flex;
    justify-content: space-around;
}
/* Footer */
footer{
    background-color: #000;
}
.footer-content{
    padding: 50px;
    display: flex;
}
.footer-left{
    padding-right: 170px;
}
.footer-content .footer-p{
    color: grey;
    line-height: 1.7;
    margin: 25px 25px 50px 0px;
}
.footer-title{
    color: #fff;
    font-size: 25px;
}
.footer-right{
    text-align: center;
}
.social-list{
margin-top: 10px;
}
.social-list li{
  
}
.social-list li i{
    color: grey;
    padding: 10px;
}
.footer-right input{
    width: 300px;
    height: 45px;
    background-color: #000;
    text-transform: capitalize;
}